# Настройки Telegram бота
TELEGRAM_BOT_TOKEN=ваша_ссылка_на_токен_бота
TELEGRAM_CHAT_ID=ваш_telegram_chat_id_куда_приходят_заявки

# Публичный URL вашего сайта (необходим для регистрации вебхука бота)
# Пример: https://abdulazizkhon.uz
PUBLIC_URL=https://your-domain-here.com

# Пароль для входа в панель администратора (/admin)
# Пример: admin123
ADMIN_PASSWORD=ваш_пароль_администратора

# Порт, на котором будет крутиться Express (внутри докера всегда 80)
PORT=80
